@model Budget.Models.AccountViewModel

@{
    Layout = "";
}

@foreach (var item in Model.TransactionViewModels)
{

    <div class="row">
        <div class="col-md-8">
            Owner: @item.OwnerUserName
            <br />
            Description: @item.Name
            <br />
            Amount: $@item.Amount
            <br />
            Category: @item.Category
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Edit","EditTransaction","Household", new { id = item.Id }, new { })
            <br /> 
            @Html.ActionLink("Void","VoidTransaction","Household", new { id = item.Id }, new { })
            <br />
            @Html.ActionLink("Delete","DeleteTransaction","Household", new { id = item.Id }, new { })
        </div>
    </div>
    <div style="min-height: 10px;"></div>

 
    

}