@model Budget.Models.ManageHouseholdViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/TemplateLayout.cshtml";
}

<button class="btn-default" onclick="GetChart()">Chart</button>

<div id="MyChart" style="height: 200px;">

    <button class="btn-default" onclick="EditAccountName(1)">Edit Account Name</button>
    <div id="Account-1" style="height: 256px;"></div>
    
</div>

<h3>Your household</h3>
<button id="cr">Create</button>
<div>
    Household name: @Html.Raw(Model.Name)
    <br />
    Accounts (@Html.Raw(Model.Accounts.Count)):
    @foreach (var item in Model.Accounts)
    {
        <div>
            @item.Name
            <br />
        </div>
    }
    <br />
    Members (@Html.Raw(Model.Members.Count)):
    @foreach (var item in Model.Members)
    {
        <div>
            @item.DisplayName
            <br />
        </div>
    }

    <br />
    Pending invitations (@Html.Raw(Model.PendingInvitations.Count)):

    @if (Model.PendingInvitations.Count == 0)
    {
        <br />
        <div>
            There are no pending invitations to this household.
        </div>
    }

    @foreach (var item in Model.PendingInvitations)
    {
        <br />
        <div>
            @item.InvitedEmail
        </div>
    }

    <br />
    @Html.ActionLink("Invite a user to this household", "Invite", new { id = Model.Id })
    @Html.ActionLink("Leave this household", "LeaveHousehold", new { id = Model.Id })


</div>

<hr />
<h3>Accounts</h3>

<div class="row">
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#CreateDropdown">Create a new account</button>
    <div id="CreateDropdown" class="collapse">

        @using (Html.BeginForm("CreateAccount", "Household", FormMethod.Post,
                                                    new { enctype = "Multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-2">
                    <h4>
                        Name your account:
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Account name" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    Enter a balance amount: $
                    <input type="number" name="Balance" />
                </div>
            </div>
            <div style="min-height: 5px;"></div>
            <div class="row">
                <div class="col-md-2">
                    <input type="hidden" name="HouseholdId" value="@Model.Id" />
                    <input type="submit" value="Create Account" class="btn btn-default" />
                </div>

            </div>
        }

    </div>
</div>


@foreach (var item in Model.Accounts)
{

    <div class="row" style="border: 3px solid black; width: 512px; margin-top: 5px; margin-bottom: 5px; border-radius: 10px;">
        @*<div id="AccountNameField" style="display: inline;">*@
        @Html.Action("_AccountName","Household",new { id = item.Id })
            @*<div id="AccountNameField-@item.Id" style="display: inline;">
                <h4 style="display: inline;">@item.Name </h4>
                <button class="ed" data-id="@item.Id" id="@item.Id" type="button" style="border: none; background-color: transparent; display:inline;" onclick="EditAccountName(id)"><i class="fa fa-edit"></i></button>

            </div>*@

        <h5>@Html.ActionLink("Delete Account","DeleteAccount","Household", new { id = item.Id }, new { } )</h5>
        <h5>Balance: $@item.Balance</h5>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#NewTransaction-@item.Id">New transaction</button>
        <div id="NewTransaction-@item.Id" class="collapse">
            @using (Html.BeginForm("NewTransaction", "Household", FormMethod.Post,
                    new { enctype = "Multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="row">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Enter a dollar amount:
                        <input type="number" name="Amount" />
                        @*@Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                            @Html.EditorFor()*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Choose a category:
                        @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Expenditure? <input type="checkbox" name="Expenditure" checked="checked" value="true" />
                    </div>
                </div>
                <div style="min-height: 5px;"></div>
                <div class="row">
                    <div class="col-md-4">
                        <input type="hidden" name="AccountId" value="@item.Id" />
                        <input type="submit" value="Submit transaction" class="btn btn-default" />
                    </div>
                    
                </div>

            }
        </div>
    </div>
}
