@model Budget.Models.ManageHouseholdViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/TemplateLayout.cshtml";
}

<h3>Your household</h3>

<div>
    Household name: @Html.Raw(Model.Name)
        <br />
    Accounts:
    @foreach(var item in Model.Accounts)
    {
        <div>
            @item.Name
            <br />
        </div>
    }
    <br />
    Members:
    @foreach(var item in Model.Members)
    {
        <div>
            @item.DisplayName
            <br />
        </div>
    }

    <br />
    Pending invitations:
    @foreach(var item in Model.PendingInvitations)
    {
        <br /> 
        <div>
            @item.InvitedEmail
        </div>
    }

    <br />
    @Html.ActionLink("Invite a user to this household","Invite", new { id = Model.Id })
    @Html.ActionLink("Leave this household","LeaveHousehold", new { id = Model.Id })


</div>