@model Budget.Models.ManageHouseholdViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/TemplateLayout.cshtml";
}

<button class="btn-default" onclick="GetChart()">Chart</button>

<div id="MyChart" style="height: 200px;">

    <button class="btn-default" onclick="EditAccountName(1)">Edit Account Name</button>
    <div id="Account-1" style="height: 256px;"></div>
    
</div>

<h3>Your household</h3>
<div>
    Household name: @Html.Raw(Model.Name)
    <br />
    Accounts (@Html.Raw(Model.Accounts.Count)):
    @foreach (var item in Model.Accounts)
    {
        <div>
            @item.Name
            <br />
        </div>
    }
    <br />
    Members (@Html.Raw(Model.Members.Count)):
    @foreach (var item in Model.Members)
    {
        <div>
            @item.DisplayName
            <br />
        </div>
    }

    <br />
    Pending invitations (@Html.Raw(Model.PendingInvitations.Count)):

    @if (Model.PendingInvitations.Count == 0)
    {
        <br />
        <div>
            There are no pending invitations to this household.
        </div>
    }

    @foreach (var item in Model.PendingInvitations)
    {
        <br />
        <div>
            @item.InvitedEmail
        </div>
    }

    <br />
    @Html.ActionLink("Invite a user to this household", "Invite", new { id = Model.Id })
    @Html.ActionLink("Leave this household", "LeaveHousehold", new { id = Model.Id })


</div>

<hr />
<h3>Accounts</h3>

<div class="row">
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#CreateDropdown">Create a new account</button>
    <div id="CreateDropdown" class="collapse">

        @using (Html.BeginForm("CreateAccount", "Household", FormMethod.Post,
                                                    new { enctype = "Multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-2">
                    <h4>
                        Name your account:
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Account name" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    Enter a balance amount: $
                    <input type="number" name="Balance" />
                </div>
            </div>
            <div style="min-height: 5px;"></div>
            <div class="row">
                <div class="col-md-2">
                    <input type="hidden" name="HouseholdId" value="@Model.Id" />
                    <input type="submit" value="Create Account" class="btn btn-default" />
                </div>

            </div>
        }

    </div>
</div>


@foreach (var item in Model.Accounts)
{

    <div class="row" style="border: 3px solid black; width: 512px; margin-top: 5px; margin-bottom: 5px; border-radius: 10px;">
        <div id="AccountNameField-@item.Id" style="display: inline;">
            <h3 style="display: inline;">@item.Name </h3>
            <button type="button" data-toggle="modal" data-target="#Account-@item.Id" style="border: none; background-color: transparent; display:inline;" ><i class="fa fa-edit"></i></button>
            @*<button class="ed" data-id="@Model.Id" id="@Model.Id" type="button" style="border: none; background-color: transparent; display:inline;" onclick="EditAccountName(id)"><i class="fa fa-edit"></i></button>*@
        </div>    
    
    
        <div class="modal fade" id="Account-@item.Id" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit Account</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="width: 256px; margin-left: 1px;">
                            
                                @using (Html.BeginForm("EditAccount", "Household", FormMethod.Post,
                                                         new { enctype = "Multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()

                                    @Html.Raw("Account name:")
                                    @*@Html.EditorFor(model => Model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@
                                    <input type="text" name="Name" value="@item.Name" placeholder="=@item.Name" style="display: inline; padding-left: 10px; width: 256px; height: 32px; border: 1px solid lightgray; border-radius: 3px;" />
                                    <br />
                                    <br />
                                    @Html.Raw("Account balance: $")
                                    <input type="number" name="Balance" value="@item.Balance" placeholder="=@item.Balance"  style="display: inline; padding-left: 10px; width: 256px; height: 32px; border: 1px solid lightgray; border-radius: 3px;" />
                                    
                                    <input type="hidden" name="Id" value="@item.Id"/>
                                    <br />
                                    <button type="submit" class="btn btn-default" style="margin-top: 5px;">Submit</button>
                                    }
                            

                            </div>
                        <p style="margin-top: 10px;">Or...</p>
                        <div class="row" style="margin-top: 5px;">
                            <div id="DeleteAccount-@item.Id" style="width: 512px; margin-left: 17px;">
                                <button id="DeleteButton" class="btn-danger" onclick="DeleteAccount(@item.Id)" style="width: 128px;">Delete Account</button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>




    @*<div id="AccountNameField" style="display: inline;">*@
        @*@Html.Action("_AccountName","Household",new { id = item.Id })*@
            @*<div id="AccountNameField-@item.Id" style="display: inline;">
                <h4 style="display: inline;">@item.Name </h4>
                <button class="ed" data-id="@item.Id" id="@item.Id" type="button" style="border: none; background-color: transparent; display:inline;" onclick="EditAccountName(id)"><i class="fa fa-edit"></i></button>

            </div>*@


        <h4>Balance: $@item.Balance</h4>
        @if(item.Balance <= 0)
        {
            <div class="row">
                <div class="col-md-4" style="color: red;">
                    This account has been overdrafted.
                    </div>  
            </div>
        }
        <br />
        <h4>Transactions</h4>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#NewTransaction-@item.Id">New transaction</button>
        <div id="NewTransaction-@item.Id" class="collapse">
            @using (Html.BeginForm("NewTransaction", "Household", FormMethod.Post,
                    new { enctype = "Multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="row">

                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Enter a transaction name:
                        <input type="text" name="Name" placeholder="Name" />
                        @*@Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                            @Html.EditorFor()*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Enter a dollar amount:
                        <input type="number" name="Amount" />
                        @*@Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                            @Html.EditorFor()*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Choose a category:
                        @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Expenditure? <input type="checkbox" name="Expenditure" checked="checked" value="true" />
                    </div>
                </div>
                <div style="min-height: 5px;"></div>
                <div class="row">
                    <div class="col-md-4">
                        <input type="hidden" name="AccountId" value="@item.Id" />
                        <input type="submit" value="Submit transaction" class="btn btn-default" />
                    </div>
                    
                </div>

            }
        </div>
        <div>
            @Html.Action("_ListTransactions","Household", new { id = item.Id })
        </div>
    </div>
}
