@model Budget.Models.CreateJoinViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/TemplateLayout.cshtml";
}

<div class="row">
    <h2>Create or Join Household</h2>
    <h4>You are not a member of any households.  Create or join one on this page.</h4>
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Create a new household</button>
    <div id="demo" class="collapse">

@using (Html.BeginForm("CreateHousehold", "Home", FormMethod.Post,
                                        new { enctype = "Multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-2">
                <h4>
                    Name your household:
                </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Title" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div style="min-height: 5px;"></div>
    <div class="row">
        <div class="col-md-2">
            <input type="submit" value="Create Household" class="btn btn-default" />
        </div>

    </div>
}

    </div>
</div>

<div class="col-md-4">

    @if (Model.Invitations.Count > 0)
    {
        foreach (var item in Model.Invitations)
        {
            <div class="row">
                <div class="col-md-12">
                    @item.OwnerUserName has invited you to join 
                    @item.HouseholdName
                    @Html.ActionLink("Accept","Accept","Household", new { id = item.Id }, new { })
                    @Html.ActionLink("Dismiss","Dismiss","Household", new { id = item.Id }, new { })
                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            You have no pending invitations.
        </div>
    }

</div>